{% extends "base.html" %}
{% block content %}

<h2>Question Bank: {{ subject.name }}</h2>

<a href="{% url 'teacher_bank_question_create' subject.id %}">
    + Add Question
</a>

<a href="{% url 'teacher_bank_question_upload' subject.id %}" style="margin-left:15px;">
    Upload Excel/CSV
</a>

<hr>

{% for q in questions %}
<div style="border:1px solid #ddd; padding:10px; margin:10px 0; border-radius:10px;">

    <strong>{{ forloop.counter0|add:1 }}.</strong>
    (2 pts) - {{ q.text }}

    {% if q.qtype == "MCQ" or q.qtype == "TF" %}
      <div style="margin-top:10px; padding-left:20px;">
        <strong>Choices:</strong>
        <ol type="A" style="margin-top:8px;">
          {% for choice in q.choices.all %}
            <li>
              {{ choice.text }}
              {% if choice.is_correct %}
                <strong>(Correct)</strong>
              {% endif %}
            </li>
          {% empty %}
            <li>No choices added yet.</li>
          {% endfor %}
        </ol>
      </div>
    {% endif %}

    {% if q.qtype == "STRUCT" %}
      <div style="margin-top:10px; padding-left:20px;">
        <strong>Correct Answers:</strong>
        <ul style="margin-top:8px;">
          <li>Part A: {{ q.correct_part_a|default:"-" }}</li>
          <li>Part B: {{ q.correct_part_b|default:"-" }}</li>
          <li>Part C: {{ q.correct_part_c|default:"-" }}</li>
        </ul>
      </div>
    {% endif %}

    {% if q.qtype == "SEQ" %}
      <div style="margin-top:10px; padding-left:20px;">
        <strong>Sequence Items:</strong>
        <ol style="margin-top:8px;">
          {% for item in q.sequence_items.all %}
            <li>{{ item.text }}</li>
          {% empty %}
            <li>No sequence items added yet.</li>
          {% endfor %}
        </ol>
      </div>
    {% endif %}

    <br>
    <a href="{% url 'teacher_bank_question_edit' subject.id q.id %}">Edit</a>
    |
    <a href="{% url 'teacher_bank_question_delete' subject.id q.id %}">Delete</a>
</div>
{% empty %}
<p>No questions yet.</p>
{% endfor %}

{% endblock %}