{% extends "base.html" %}
{% block content %}
<h2>Manage: {{ exam.title }}</h2>

  <p>
    <a href="{% url 'teacher_dashboard' %}">Back</a> |
    <a href="{% url 'teacher_bank_question_list' exam.subject.id %}">
        Manage Question Bank
    </a>
    | <a href="{% url 'teacher_exam_attempts' exam.id %}">View Attempts</a>
  </p>

  <hr>

  {% for q in questions %}
    <div style="border:1px solid #ddd; padding:12px; margin:10px 0;">
      <p>
        <strong>Q{{ forloop.counter }}</strong>
        ({{ q.points }} pts)
        - {{ q.text }}
      </p>
      <a href="{% url 'teacher_question_edit' exam.id q.id %}">Edit Choices</a> |
    </div>
  {% empty %}
    <p>No questions yet.</p>
  {% endfor %}
{% endblock %}
