{% extends "base.html" %}
{% block content %}

<h2>Subjects</h2>

<!-- ✅ Create Subject button -->
<div style="margin-bottom:15px;">
  <a class="btn btn-primary"
     href="{% url 'teacher_subject_create' %}">
     + Create Subject
  </a>
</div>

<div class="card">
    <div style="display:flex; gap:8px;">
    <a class="btn btn-secondary"
      href="{% url 'teacher_bank_question_list' s.id %}">
      Question Bank
    </a>

    <a class="btn btn-sm btn-warning"
      href="{% url 'teacher_subject_edit' s.id %}">
      Edit
    </a>
  </div>
</div>

{% endblock %}