{% extends "base.html" %}
{% block content %}

<div style="max-width:800px;margin:auto;">

  <h2>Lesson Quiz</h2>

  <form method="post">
    {% csrf_token %}

    {% for q in questions %}
  <p><strong>{{ forloop.counter }}. ({{ q.get_qtype_display }}) ({{ q.get_level_display }}) {{ q.text }}</strong></p>

    {% if q.qtype == "STRUCT" %}
      <textarea name="q_{{ q.id }}_text" rows="4" style="width:100%;"></textarea>

    {% else %}
      {% for c in q.choices.all %}
        <label style="display:block;">
          <input type="radio" name="q_{{ q.id }}" value="{{ c.id }}"> {{ c.text }}
        </label>
      {% endfor %}
    {% endif %}
    {% endfor %}
    <button class="btn btn-primary">
      Submit Quiz
    </button>

  </form>

</div>

{% endblock %}