{% extends "base.html" %}
{% block content %}

<h2>Quiz Questions</h2>

<a class="btn btn-primary"
   href="{% url 'courses:quiz_question_add' course.id lesson.id %}">
   ➕ Add Question
</a>

<hr>

{% for q in questions %}
<div style="margin-bottom:20px">

<strong>{{ q.order }}. {{ q.text }}</strong>
({{ q.get_qtype_display }})

{% if q.qtype == "STRUCT" %}

    <div style="margin-top:8px; padding:10px; border:1px solid #ddd; border-radius:10px;">
        <strong>Expected Answer:</strong>
        <div style="white-space: pre-line; margin-top:5px;">
            {{ q.expected_answer }}
        </div>

        {% if q.marking_guide %}
        <hr>
        <strong>Marking Guide:</strong>
        <div style="white-space: pre-line;">
            {{ q.marking_guide }}
        </div>
        {% endif %}
    </div>

{% else %}

    <ul>
    {% for c in q.choices.all %}
        <li>
            {{ c.text }}
            {% if c.is_correct %} ✅{% endif %}
        </li>
    {% endfor %}
    </ul>

{% endif %}

</div>
{% empty %}
<p>No questions yet.</p>
{% endfor %}
{% endblock %}